* {
	box-sizing: border-box;
	font-family: hiragino-kaku-gothic-pron, Helvetica, sans-serif;
}

a:visited {
	color: revert-layer;
}

h1 {
	font-size: 2em;
	font-weight: 900;
}

h2 {
	font-size: 1.5em;
	font-weight: 700;
}

h4 {
	font-size: 1.2em;
	font-weight: 500;
}

h5 {
	font-style: italic;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:visited {
    color: inherit;
}